    .ajax__myTab .ajax__tab_header {
        font-family: Calibri, verdana,tahoma,helvetica;
        font-size: 14px;
        border-bottom: solid 1px #999999;
        color:#ffffff;        
        height:29px;
     }
    


    .ajax__myTab .ajax__tab_outer {
        padding-right: 4px;
        height: 21px;        
        background-image: url( "../imagenes/tab2.png" );
        margin-right: 2px;
        border-right: solid 1px #666666;
        border-top: solid 1px #aaaaaa;
        height:29px;
     }
    
    .ajax__myTab .ajax__tab_outer a:link
	{
		color: white;
	}        
	    
    .ajax__myTab .ajax__tab_inner {
        padding-left: 1px;
        height:27px;
     }
    
    .ajax__myTab .ajax__tab_tab {
        height: 27px;
        padding: 4px;
        margin: 0;
     }
    
    .ajax__myTab .ajax__tab_hover .ajax__tab_outer {

     }
    
    .ajax__myTab .ajax__tab_hover .ajax__tab_inner {
height:27px;
     }
    
    .ajax__myTab .ajax__tab_hover .ajax__tab_tab {  }
   
    .ajax__myTab .ajax__tab_active .ajax__tab_outer {        
        border-left: solid 1px #999999;
        color:#4e4e4e;
        background-image: url( "../imagenes/tab1.png" );        
        
     }
    
    .ajax__myTab .ajax__tab_active .ajax__tab_outer a:link
	{
		color: #333333;
		
	}        
	
    .ajax__myTab .ajax__tab_active .ajax__tab_inner 
    {
		background-image: url( "../imagenes/tab1.png" );
		color:#4a4a4a;
		
     }
    
    .ajax__myTab .ajax__tab_active .ajax__tab_tab   
    {
    	
    }	    	
	.ajax__myTab .ajax__tab_body {
        height: auto !important;
        font-family: Calibri,verdana,tahoma,helvetica;
        font-size: 14px;
        border: 1px solid #999999;
        border-top: 0;
        padding: 8px;
        
      }
      
	.ajax__myTab .ajax__tab_body a:link {
		color:#000000;        
      }      